#define WIFI_STA_SSID ""
#define WIFI_STA_PASSWORD ""
#define WIFI_STA_PASS_LOGIN_URL ""
#define WIFI_AP_SSID "my_wireless_ap"
#define WIFI_AP_PASSWORD "a_strong_password"

#define IP_NAPT_MAX 512
#define IP_PORTMAP_MAX 32

#define DEBUG
